[Unit]
Description=uWSGI instance to serve pubpublica
After=network.target

[Service]
User=pubpublica
Group=www-data
WorkingDirectory=/home/jens/pubpublica
Environment="PATH=/home/jens/pubpublica/pubpublicaenv/bin"
ExecStart=/home/jens/pubpublica/venv/bin/uwsgi --ini pubpublica.ini

[Install]
WantedBy=multi-user.target