<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale = 1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='res/favicon.png') }}">
    <title>pub publica</title>
    <link rel="alternate" type="application/rss+xml" title="rss feed" href="/rss" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sanitize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header><img src="static/res/logo.png" alt="logo" /></header>

    {% block content %} {% endblock %}

    <footer>
      <i class="item timestamp">{{ctx.TIMESTAMP|replace('T',' ')|truncate(19, True,end='')}}</i>
      <a class="item" target="_blank" href="https://github.com/pubpublica/pubpublica/tree/{{ctx.COMMIT_HASH}}">{{ctx.SHORT_COMMIT_HASH}}</a>
    </footer>
  </body>
</html>
