[Unit]
Description=uWSGI instance to serve pubpublica
After=network.target

[Service]
RuntimeDirectory=pubpublica
WorkingDirectory=/var/www/pubpublica
Environment="PATH=/var/www/pubpublica/venv/bin"
ExecStart=/var/www/pubpublica/venv/bin/uwsgi --ini /var/www/pubpublica/pubpublica.ini

[Install]
WantedBy=multi-user.target